body {
	background-color: oklch(var(--b1));
	background-image: radial-gradient(oklch(var(--bc) / 20%) 5%, transparent 0);
	background-size: 48px 48px;
}

.border,
.border-t,
.border-r,
.border-b,
.border-l {
	@apply border-base-content/20;
}
